.right-sec {
    display: flex;
    position: relative;
    width: 67%;
    height: 454px;
    border-radius:8px;
    background-image: linear-gradient(#222222, #121212);
    margin-right: 8px;
}
.window-scroll {
    width: 100%;
    height: 454px;
    margin-top:4px;
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    overflow-x: hidden;
}
.box-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 62%;
}
.box-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    padding-left: 22px ;
    padding-right: 26px;
    gap: 24px;
}
.div-of-box {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 8px;
}
.box {
    display: flex;
    position: relative;
    width: 20%
}
.tekst-top {
    display: flex;
    width: 100%;
    height: max-content;
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-top: 8px;
    justify-content: space-between;
}
.alles-weergeven {
    width: max-content;
    height: max-content;
    font-size: 14px;
    color: gray;
    font-weight: 700;
}
.prem {
    display: flex;
    height: 66px;
    margin: 8px;
    background-image: linear-gradient(to right, #ae2897, #509af3);
    align-items: center;
}
.prem-t {
    display: flex;
    flex-direction: column;
    width: 94%;
    height: 60%;
    margin-left: 16px;
    gap: 2px;
}
.prem-t p {
    height: 24px;
    width: max-content;
    margin: 0;
}
.but-gratis{
    display: flex;
    height: 48px;
    width: 216px;
    justify-content: center;
    margin-right: 32px;
    padding: 0 26px;
    border:none;
    border-radius: 50px;
    align-items: center;
    font-size: 15px;
    background-color: white;
    color: black;
    margin-top: 4px;
}