.flex-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    width: 80%;
    height: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flex-item {
    position: absolute;
    background-color: #007bff;
    display: inline;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    flex: 1; 
    margin: 10px;
}

.flex-item:first-child {
    flex: 2; }